@import "~@scss/core/params";

.n-login-ctx{
  width: 100%;
  height: 100%;
  .n-sys-logo{
    img{
      width: 50px;
    }
  }
  .n-sys-name{
    font-size: 32px;
    font-weight: bold;
    color: $grey-3;
  }
  .n-login-logo-description{
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
    color: $grey-9;
  }
}
