@import "~@scss/custom/theme/theme.scss";

.n-login-ctx{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .n-login-main-ctx{
    flex: 1;
  }
  .n-login-logo-wrp{
    text-align: center;
    margin-top: 12px;
  }
  .n-sys-logo{
    display: inline-block;
    vertical-align: middle;
    img{
      width: 60px;
      display: block;
    }
  }
  .n-sys-name{
    font-size: 32px;
    font-weight: bold;
    color: $grey-3;
    display: inline-block;
    vertical-align: middle;
  }
  .n-login-logo-description{
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
    color: $grey-9;
  }
  .n-login-form-wrp{
    text-align: center;
  }
}

::v-deep .n-locale-icon{
  margin: 24px;
}
