@import "../params";

.n-common-table-wrp{
  background-color: $grey-f;
  border-radius: 4px;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  &.n-full-common-table{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    overflow: auto;
  }
  .n-common-table{
    flex: 1;
    .ant-table-wrapper{
      height: 100%;
    }
  }
}

.n-common-table.n-com-table-small{
  ::v-deep {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 6px 12px;
      overflow-wrap: break-word;
      font-size: 14px;
    }
  }
}

.n-common-table.n-com-table-normal{
  ::v-deep {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 9px 12px;
      overflow-wrap: break-word;
      font-size: 15px;
    }
  }
}

.n-common-table.n-com-table-large{
  ::v-deep {
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 12px 12px;
      overflow-wrap: break-word;
      font-size: 16px;
    }
  }
}

.n-border-none{
  .ant-dropdown-menu{
    padding: 0;
  }
  .ant-menu-vertical{
    border-right: 0;
    .ant-menu-item{
      height: unset;
      line-height: unset;
      padding: 8px 16px;
      margin-bottom: 0;
      .ant-checkbox-wrapper{
        line-height: 1.7;
      }
    }
  }
}

.n-h-divider.ant-divider-horizontal{
  margin: 0;
}

.n-pin-wrp{
  line-height: 1.5;
  margin-left: 20px;
  .c-pin{
    vertical-align: middle;
    margin-right: 0px;
    margin-left: 8px;
    &:last-child{
      margin-right: 0;
    }
    &.l-pin{
      transform: rotateY(180deg);
    }
  }
}

::v-deep .resize-table-th {
  position: relative;
  .table-draggable-handle {
    height: 100% !important;
    bottom: 0;
    left: auto !important;
    right: -5px;
    cursor: col-resize;
    touch-action: none;
    transform: none !important;
    position: absolute;
  }
}
