@import "../params";
@import "~@scss/custom/theme/theme";

.n-layout-header{
  height: 50px;
  background-color: $grey-f;
  box-shadow: rgba($grey-0, 0.08) 0px 1px 4px 0px;
  z-index: 1;
  padding: 0;
  display: flex;
  line-height: 50px;
  .n-com-head-func{
    &:hover{
      cursor: pointer;
      background-color: lighten($primary-color, 48%);
    }
  }
  .n-header-ham{
    width: 50px;
    height: 100%;
    background-color: $primary-color;
    cursor: pointer;
    color: $grey-f;
    text-align: center;
  }
  .n-header-sys-name{
    padding: 0 20px;
    font-weight: bold;
    font-size: 18px;
  }
  .n-header-nav{
    ::v-deep .ant-menu-horizontal{
      line-height: 49px;
    }
  }
  .n-header-right-part{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ::v-deep .n-locale-icon{
      display: block;
      padding: 0 17px;
      height: 50px;
      line-height: 50px;
    }
  }
  .n-user-avatar{
    width: 50px;
    height: 50px;
    padding-top: 9px;
    img{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: block;
      margin: auto;
    }
  }
  .n-fullscreen{
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: top;
    font-size: 16px;
    color: $primary-color;
  }
}

.n-user-info-pannel{
  width: 280px;
  background-color: $grey-f;
  .n-user-info-basic{
    display: flex;
    padding: 10px 12px;
    border-bottom: 1px solid $grey-e4;
    .n-user-info-avater{
      img{
        display: block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
      }
    }
    .n-user-info-desc{
      line-height: 1.2;
      margin-left: 12px;
      font-size: 12px;
      font-weight: bold;
      .n-user-info-name{
        color: $primary-color;
      }
    }
  }
  .n-user-menu-func{
    padding: 2px 0;
    .ant-menu-item{
      line-height: 28px;
      height: 28px;
      font-size: 12px;
      margin-bottom: 0;
      margin-top: 0;
      margin: 2px 0;
      &-active{
        background-color: lighten($primary-color, 48%);
      }
      .anticon{
        margin-right: 6px;
      }
    }
  }
  .n-user-menu-logout{
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid $grey-e4;
    cursor: pointer;
  }
}
