@import "~@scss/custom/theme/theme";

.n-global-locale{
  text-align: right;
  .n-locale-icon{
    font-size: 16px;
    margin: 24px;
    color: $primary-color;
  }
}

.n-lang-menu{
  height: 240px;
  overflow-y: auto;
}
