@import "~@scss/core/params";

.n-login-form{
  width: 368px;
  background-color: $grey-f;
  margin: 0 auto;
  .n-login-tabs-wrp{
    text-align: center;
    .n-login-tabs{
      ::v-deep .ant-tabs-bar{
        display: inline-block;
      }
    }
  }
  .n-login-option{
    text-align: left;
  }
}
