@import "params";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .n-main-ctx{
  height: 100%;
  color: rgba($grey-0, 0.65);
  &.ovh{
    overflow: hidden;
  }
}

html, body, button, input, select, textarea{
  font-size: 14px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

ul{
  li{
    list-style: none;
  }
}

[v-cloak] {
  display: none;
}

.clear{
  zoom:1;
  &:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
  }
}

.ilb{
  display: inline-block;
}
