@import "theme/theme";

// ant table stripe control
.ant-table-tbody > tr.ant-table-row.stripe-dark{
  background-color: rgba($primary-color, 0.05);
}

// link-btn
.n-ant-btn-link{
  height: unset;
  padding: 0;
}

.n-form{
  .ant-row.ant-form-item{
    display: flex;
    .ant-col.ant-form-item-control-wrapper{
      flex: 1;
    }
  }
}

.ant-menu.ant-menu-vertical.mx400{
  max-height: 400px!important;
  overflow: scroll;
}

.n-table-drag{
  .ant-row-flex-space-between{
    align-items: baseline;
  }
}

.n-table-drag-column{
  padding: 8px 14px 8px 10px;
}
